<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>基于IOS的图片认知分类系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7820A7391EA1CBC9000E87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7820A7521EA1CBCA000E87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7820A75D1EA1CBCA000E87B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
